.elements__like-button {
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    border: none;
    transition: .2s;
    outline: none;
  }
  
  .elements__like-button:hover {
    opacity: .6;
    cursor: pointer;
  }